@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
    background-color: hsl(148, 38%, 91%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
h1{
    color: hsl(187, 24%, 22%);
    margin: 10px 0 10px 10px;
}
form{
    max-width: 600px;
    margin: 15px;
}
section{
    display: flex;
    flex-direction: row;
}

div{
    display: flex;
    flex-direction: column;
    margin: 7 px;
}

button{
    border-radius: 16px;
    border-style: none;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-size: 26px;
    background-color: hsl(169, 82%, 27%);
    color: white;
}

.container{
    background: white;
    padding: 1em;
    border-radius: 16px;
}
label{
    margin: 5px 0 2px;
    
}
input{
    border: 1px solid;
    font-size:20px;
    border-radius: 10px;  
    padding: 7px; 
}
.checkbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px;
}

.sexo{
    gap: 10px;
}
.box-one{
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    margin: 15px 0 5px 0;
}
.box-two{
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    margin: 15px 0 5px 0;
}
.name{
    gap: 10px;
}